<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
        <tr>
            <td>data of courses 1</td>
            <td>data of courses 2</td>
            <td>data of courses 3</td>
        </tr>
    </tbody>
</table>
